<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Storyboard</title>
</head>

<body class="d-flex h-100 text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <!--This is temporary since the links are no longer working will try and
        fix this later-->

    <style>

            div.Story_Title {
                text-align: center;
            }
            label.Story_Title {
                font-size: 30px;
            }
            input.Story_Title {
                font-size: 30px;
            }
            p.Story_Title {
                font-size: 20px
            }

            div.Button_Bar {
                border-style: double;
            }

            div.description {
                text-align: center;
            }
            p.description {
                font-size: 12px;
            }
            textarea.synopsis {
                resize: none;
            }

            textarea.clue_list {
                resize: none;
            }

            .clue_img {
                transition: transform .2s;
            }

            .clue_img:hover {
                transform: scale(2);
            }

            div.Story_Title {
                top: 0px;
                width: 100%;
                position: absolute;
            }
            div.Button_Bar {
                top: 95px;
                width: fit-content;
                position: fixed;
            }
            div.main {
                margin-top:130px;
            }
            div.bg-modal {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                position: fixed;
                top:0;
                display: flex;
                justify-content:center;
                align-items: center;
                display: none;
            }
            div.modal-content {
                width: 700px;
                height: 500px;
                border-radius: 4px;
            }
            .close{
                position: absolute;
                top: 0px;
                right: 10px;
                font-size: 40px;
                transform: rotate(45deg);
                cursor: pointer;
                color: grey;
            }
            div.scroll {
               overflow: auto;
               border: 1px black;
               background-color: #212429;
               width: 700px;
               height:500px;
            }
            .aligned {
                display: flex;
                align-items: center;
            }
            span {
                padding: 10px;
            }
        </style>

    <script>

        // This function will take the user back to their homepage without saving
        // their progress on the current story thus all progress will be lost
        // will gain functionality once other pages are added into the same project
        // and function properly
        function return_to_home() {

            if(confirm("Are you sure you wish to return to the home screen? You will lose " +
                       "all unsaved progress on current story.")) {

                location.replace("{%url 'home'%}");

            }

        }
        ////////////////////////////////////////////////////////////////////////////////

        // This function will create a new story by clearing all attributes on the
        // storyboard such as its title,synopsis, and clues (Currently clues cannot be
        // added thus they removal shall be added later once added remove this comment
        // section)
        function start_new_story() {

            // Confirms if the user means to start a new story before clearing the storyboard
            if(confirm("Are you sure you wish to start a new story? You will lose " +
                       "all unsaved progress on current story.")) {

                //redirects to new_story view and performs actions there
                location.replace("{%url 'new_story'%}");

            }

        }
        ////////////////////////////////////////////////////////////////////////////////

        // Shall take all the information stored within the storyboard and save it
        // either to a text file on the users PC or to the database linked to the
        // users account
        function save_story() {

            document.story.action="{% url 'save_story' %}";
            document.getElementById("story").submit();

            //alert("You're attempting to save, sorry but that's not implemented yet " +
            //      "so have fun memorizing all your progress!!");

        }
        ////////////////////////////////////////////////////////////////////////////////

        // Shall read in information from a selected story and propagate the storyboard
        // with its information not sure if it will try to read from the database thus
        // providing a list of stories or asking for the stories name or load in from a
        // text file that is stored on the users PC
        function load_story() {

            // alert("You're attempting to load in a previously created story, sorry but " +
            //       "that's not implemented yet so have fun typing it all out again!!");
            document.story.action="{% url 'loadworkaround' %}";
            document.getElementById("story").submit();
        }
        ////////////////////////////////////////////////////////////////////////////////

        // Shall add a clue to the storyboard without clearing any of the information that
        // already exists within the storyboard will be implemented after clue objects have
        // been properly created
        function add_clue() {

        //    alert("You're attempting to add a clue to the storyboard, sorry but that's " +
        //          "not implemented yet so have fun with the synopsis!!");


            document.story.action="{% url 'add_clue' %}";

            document.getElementById("story").submit();

        }
        ////////////////////////////////////////////////////////////////////////////////

        //Shall remove all the marked clues from the storyboard along with lowering their clue
        //number after a confirmation message
        function remove_clue() {

            if(confirm("Are you sure that you wish to remove the selected clues" +
               "? This action cannot be reversed once done.")) {

                document.story.action="{% url 'remove_clue' %}";

                document.getElementById("story").submit();

            }

        }
        ////////////////////////////////////////////////////////////////////////////////

        //Refreshes the storyboard so that any added images are made visible after the url
        //has been entered
        function refresh_story() {

            document.story.action="{% url 'refresh_story' %}";

            document.getElementById("story").submit();

        }
        ////////////////////////////////////////////////////////////////////////////////
        // This function will create a printable document from the current story values
        function create_printable() {

            location.replace("{%url 'create_printable'%}");

        }
        ////////////////////////////////////////////////////////////////////////////////

        ////////////////////////////////////////////////////////////////////////////////

        // This function should redirect to the page that displaays clues. 
        function display_clues() {

            //redirects to display story page
            location.replace("{%url 'display_clues'%}");
        }
        ////////////////////////////////////////////////////////////////////////////////

        //clicking on the help button should make the hidden popup box appear and
        //disappear on click (untested and can't check because i can't run the server still)
        function need_help() {
             document.getElementById('help').addEventListener('click', function () {
                document.querySelector('.bg-modal').style.display = 'flex';
            });

            document.querySelector('.close').addEventListener('click', function(){
                document.querySelector('.bg-modal').style.display = 'none';
            });
        }

        ////////////////////////////////////////////////////////////////////////////////

    </script>

    <!------------------------------------------------------------------------>
    <!--These links are no longer working they worked previously on 3/29/21 however on
        3/30/21 when the data in the links was altered no changes were noticed by the webpage
        these changes were then removed and files restored to previous working version and on
        3/31/21 the links failed to work entirely leading to the info being moved into the html file-->
<!--    <link rel="stylesheet" type="text/css" href="../../static/css/storyboard.css">
    <script src="../../static/js/storyboard.js"></script>
-->

    <header class="mb-5">
        <div>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <!-- Logout Button, redirects to the login page after logging out the user-->
                <a class="nav-link active" aria-current="page" href="{% url 'signout'%}" id='logoutButton'>Log Out</a>
            </nav>
        </div>
    </header>
  
    <form id="story" name="story" method="post" onsubmit="return false;">

        {% csrf_token %}

        <!--This section displays the stories title(editable) and author(non-editable)
            for the creator to view and alter when needed-->
        <div class="Story_Title">

            <label class="Story_Title"><b>Title:</b></label>
            <!--will need to alter its starting value when being able to start a previously
                created story-->
            <input class="Story_Title"
                   type = "text"
                   id = "title"
                   name = "title"
                   value = "{{title}}"
                   maxlength = "20"
                   autocomplete="off"/>
            <p class="Story_Title">Author:<u> {{ user.username }}</u></p>

        </div>
        <!------------------------------------------------------------------------------->

        <!--This section contains the action buttons allowing for the creation of a new
            story(partially completed), saving a story(implemented), loading a story
            (implemented), and adding a new clue to the story board(implemented)-->
        <div class="Button_Bar">

            <nav class="nav nav-masthead justify-content-center float-md-end">
                    <button id="returnHomeButton" onclick="return_to_home();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Return back to the home page">Return Home</button>
                    <button id="new_story" onclick="start_new_story();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Start a new story">New Story</button>
                    <button id="save" onclick="save_story();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Save your current story">Save Story</button>
                    <button id="load" onclick="load_story();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Load in a previous story">Load Story</button>
                    <button id="add" onclick="add_clue();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Add a clue to this story">Add Clue</button>
                    <button id="remove" onclick="remove_clue();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Remove a clue from this story">Remove Clue</button>
                    <button id="refresh" onclick="refresh_story();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Refresh your story">Refresh Story</button>
                    <button id="displayclues" onclick="display_clues();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Display the clues to your story">Display Clues</button>
                    <button id="print" onclick="create_printable();" class="btn btn-md btn-secondary fw-bold border-white bg-blue"  type="button" title="Print out all of your story clues here!">Print</button>
                    <button id="help" onclick="need_help();" class="btn btn-md btn-secondary fw-bold border-white bg-blue" type="button" title="Need help? Click here!">Help</button>
            </nav>
        </div>
        <!------------------------------------------------------------------------------->
        
        <div class="main">

            <div class="description">

                <h2 class="description">Synopsis</h2>

                    <textarea class = "synopsis"
                              id = "synopsis"
                              name = "synopsis"
                              rows = "6"
                              cols = "100"
                              maxlength = "500">{{synopsis}}</textarea>

                <p class="description">
                    500 character limit for synopsis</br>
                    1000 character limit for clues
                </p>

            </div>
            <!--Modal Section (For PopUp box) -->
            <div class="bg-modal">
                <div class="modal-content">
                    <div class="scroll">
                        <p>Welcome to the Mystery Inc. Story Creator!</p>

                        <p>This is here to help teach you the ropes on how to get around
                            the site and set up your first story!</p>

                        <p>Everything you'll need is on the row of buttons above. Each one
                            is pretty self explanatory, but we'll run through all of them
                            as well as everything else on this page for the utmost clarity.</p>

                        <p>Title:           This is where you put in the name of your interactive
                            mystery story!</p>

                        <p>Author:          This is you! Make sure that this matches the account
                            name you used to sign in.</p>

                        <p>Return Home:     If you want to leave the Story Creator page. Don't
                            forget to save beforehand!</p>

                        <p>New Story:       If you would like to start a brand new story. Make
                            sure to save your current project beforehand.</p>

                        <p>Save Story:      Saves your current story into the database so that
                            you can come work on it again another time.</p>

                        <p>Load Story:      Loads in a story previously worked by you into the
                            workspace so that you can get back to writing.</p>

                        <p>Add Clue:        This allows you to add a clue to your story. Clues
                            can be connected to one another that guide the player
                            through your story in an attempt to solve the case!</p>

                        <p>Remove Clue:     If you have a clue that you no longer want or need,
                            then you can remove it with this button after selecting which clues
                            you want to get rid of; at the bottom of each clue, there is a small
                            box you can check off. This action is irreversible, so make sure
                            you're absolutely sure you want to remove before doing so. It's safe
                            practice to leave the remove boxes at the end of each clue unticked,
                            just in case.</p>

                        <p>Refresh:         This refreshes the page.</p>

                        <p>Display Clues:   This takes you to a page filled with all of your clues
                            as well as the connections you've made between your clues. Allows a nice
                            and easy way to see all of your clues and pictures at the same time. This
                            page is also printer friendly!</p>

                        <p>Print:           This button sends you to a page where you can more easily
                            print out all the work from your storyboard.</p>

                        <p>Help:            Uh, that's how you got here lol</p>
                    </div>
                    <div class="close">+</div>
                </div>

            </div>

            <!--Will hopefully be altered once clues can be added to the storyboard but for now
                it shall remain empty however it may prove useless depending on how clues are added-->
            <div class="Clue_Container">

                {% for clue in clues %}

                    <p><b>Clue {{clue.clue_id}}</b></p>
                    <div class="aligned">

                    <textarea class = "clue_list"
                              id = "clue{{clue.clue_num}}_text"
                              name = "clue{{clue.clue_num}}_text"
                              rows = "11"
                              cols = "100"
                              maxlength = "1000">{{clue.clue_text}}</textarea>
                    <span>
                    <img class="clue_img" src="{{clue.clue_img_url}}" height="170px">
                    </span>
                    </div>


                    <p>URL: <input class="clue_list"
                                   type="text"
                                   id="clue{{clue.clue_num}}_img_url"
                                   name="clue{{clue.clue_num}}_img_url"
                                   value="{{clue.clue_img_url}}"
                                   autocomplete="off"/>
                        Parents: <input class="clue_list"
                                   type="text"
                                   id="clue{{clue.clue_num}}_clue_parents"
                                   name="clue{{clue.clue_num}}_clue_parents"
                                   value="{{clue.parent_clues}}"
                                   autocomplete="off"
                                   onkeypress="if (event.key.replace(/[^0123456789,]/g,'')=='') event.preventDefault();"/>
                        <input type="hidden", id="clue{{clue.clue_num}}_hidden" name="clue{{clue.clue_num}}_remove" value="Safe">
                        <input type="checkbox", id="clue{{clue.clue_num}}_remove" name="clue{{clue.clue_num}}_remove" value="Remove">
                        <label>Remove</label>
                    </p>

                {% endfor %}

            </div>
            <!------------------------------------------------------------------------------->

        </div>
    </form>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>
