<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Storyboard</title>
    <link rel="stylesheet" href="/static/css/storyboard.css">
    <script src="/static/js/storyboard.js"></script>
</head>
<body>

    <!--This section displays the stories title(editable) and author(non-editable)
        for the creator to view and alter when needed-->

    <div class="Story_Title">
        <form id="input" name="myForm" enctype="text/plain" onsubmit="return false" action="{% url 'storyboard' %}" method="post">
            {% csrf_token %}
        <label class="Story_Title"><b>Title:</b></label>
        <!--will need to alter its starting value when being able to start a previously
            created story-->
        <input class="Story_Title"
               type = "text"
               id = "title"
               value = ""
               maxlength = "20"/>
        <input type="text" id="txt_1" onreset='saveValue(value);'/>
        <p class="Story_Title">Author:<u> {{ user.username }}</u></p>

        </form>
    </div>
    <!------------------------------------------------------------------------------->

    <!--This section contains the action buttons allowing for the creation of a new
        story(partially completed), saving a story(unimplemented), loading a story
        (unimplemented), and adding a new clue to the story board(unimplemented)-->
    <div class="Button_Bar">

        <button onclick="return_to_home();" id="here" title="Return back to the home page">Return Home</button>
        <button onclick="start_new_story();" title="Start a new story">New Story</button>
        <button onclick="save_story();" title="Save your current story">Save Story</button>
        <button onclick="load_story();" title="Load in a previous story">Load Story</button>
        <button onclick="add_clue();" title="Add a clue to this story">Add Clue</button>

    </div>
    <!------------------------------------------------------------------------------->

    <div class="description">

        <h2 class="description">Synopsis</h2>

            <textarea id = "synopsis"
                      rows = "6"
                      cols = "100"
                      maxlength = "500"></textarea>

        <p class="description">
            500 character limit
        </p>

    </div>

<!--    <script>
        $("textarea[name='description']").on("change", function() {
            $.ajax({
                url: /new_story/
                method: 'POST',
                data: {
                    content: $(this).val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
            }).done(function(msg) {
                alert("Data saved");
            })
        });
    </script>-->

    <!--Will hopefully be altered once clues can be added to the storyboard but for now
        it shall remain empty however it may prove useless depending on how clues are added-->
    <div class="Clue_Container">

    </div>
    <!------------------------------------------------------------------------------->


    <!--Modal Section -->
    <div class="bg-modal">
        <div class="modal-content">


        </div>

    </div>
</body>
</html>